@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Roboto;
    height: 100%;
}

:root{
    --strong-color: #aeecd1;
    --light-color: #e8f8f1;
    /* --secondary-color: #f66060;     */
    --secondary-color: #0891b2;    

}

ul{
    list-style: none;  
}

a{
    color: white;
    text-decoration: none;
}

img{
    height: 1.3rem;
}

.user-small-logo > img{
    background-color: var(--light-color);
    height: 2.5rem;
    border-radius: 50%;
    width: 2.5rem;
    align-self: center;
}

button{
    padding: 0.5rem 1.5rem;
    background-color: var(--strong-color);
    color: white;
    border: none;
    border-radius: 1rem;
}

.conatiner{
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 1fr 4fr; */
}



header{
    grid-column: 2;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;
    padding: 0.8rem 0.8rem 1rem 0.8rem;
    grid-template-rows: min-content min-content ;
}

.header-upper-section{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 1rem;
}

.search{
    display: flex;
    justify-items: flex-start;
    align-items: center;

    /* display: grid;
    grid-template-columns: 5rem 1fr;
    justify-content: start;
    align-content: baseline; */
}

input[type="search"]{
    margin-left: 1rem;
    border: none;
    background-color: var(--light-color);
    border-radius: 2rem;
    flex-grow: 1;
    max-width: 28rem;
    padding: 0.3rem;
}

.user-profile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.6rem;
}

.user-header-logo-username{
    display: flex;
    gap: 0.5rem;
}

.notifications, .header-upper-username{
    align-self: center;
    justify-self: center;
}


.header-lower-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 0.7rem;
    gap: 1rem;
    align-content: center;
}

.user-welcome{
    display: flex;
    align-items: center;
}

.user-info{
    padding-left: 0.8rem;
}

.account-activity{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    justify-self: end;
    max-height: 3rem;
    align-items: center;
    margin-right: 3rem;
}


.user-logo > img{
    background-color: var(--light-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

aside{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--strong-color);
    padding: 1rem;
    display: grid;
    align-content: start;
    gap: 2.8rem;
}

.main-logo{
    color: var(--light-color);
    font-size: 1rem;
}

nav {
    color: white;
    font-weight: bold;
}

.access-buttons,
.admin-buttons{
    display: grid;
    gap: 1rem;
}

.access-buttons > li ,
.admin-buttons > li{
    display: flex;
    gap: 1rem;
}

main{
    /* grid-column: 2 / 3;
    grid-row: 2 / 3; */

    background-color: var(--light-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 1.3rem;
}

.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    padding-top: 1rem;
}

.card-conatiner{
    position: relative;
    min-width: 15rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.7rem;
    border-left: var(--secondary-color) solid 0.3rem;
    padding-bottom: 2.5rem;
}

.card{
    padding: 0.1rem 1.3rem 3rem 1.3rem;
    font-size: 0.8rem;
}

.project-activity{
    position: absolute;    
    bottom: 24px;
    right: 20px;
    display: flex;
    gap: 0.3rem;
}


.announcements{
    grid-column: 2 / 3;
    grid-row: 1;
}

.announcements-container{
    background-color: white;
    border-radius: 0.7rem;
    padding: 1.8rem;
    font-size: 0.7rem;
    max-width: 13rem;
    margin-top: 1rem;
}

.announcement{
    margin-bottom: 0.8rem;
    border-bottom: 1px #bcb8b8 solid;
    padding-bottom: 0.5rem;
}

.announcement:last-child{
    border-bottom: none;
}



.trending{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending-container{
    background-color: white;
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: 0.7rem;
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
}

.trending-user{
    display: flex;
    gap: 1rem;
}
